<template>
  <form class="v-calculator-result" @submit.prevent="onSubmit">
    <div class="v-calculator-result__wrapper">

      <div class="v-calculator-result__cell">
        <small class="v-calculator-result__label">***********</small>
        <span class="v-calculator-result__text">{{ payInMonth.overpayment | toLocaleString }} ₽</span>
      </div>

      <div class="v-calculator-result__controls">
        <div class="v-calculator-result__item">
          <input-text
            ref="username"
            :required="true"
            :params="usernameParams"
            @on-input="onInputLastname"
          />
        </div>

        <div class="v-calculator-result__item">
          <input-phone
            ref="inputPhone"
            :required="true"
            :params="phoneParams"
            :type-input="'phone'"
            @on-input="onInputPhone"
          />
        </div>

        <div class="v-calculator-result__item">
          <Сheckbox
            ref="checkbox"
            :required="true"
            :params="checkboxParams"
            step-name="дайте согласие на обработку персональных данных (галочка)"
            @on-change="onChangeAgree"
          />
        </div>

        <div class="v-calculator-result__btn">
          <button class="cf-button cf-button--red" type="submit">Заполнить заявку</button>
        </div>

      </div>
    </div>
  </form>
</template>

<script>
import { Component, Prop, Vue } from 'vue-property-decorator';
import InputPhone from '../../../components/FormComponents/*****/*****.vue';
import InputText from '../../../components/FormComponents/*****/*****.vue';
import Checkbox from '../../../components/FormComponents/*****/*****.vue';
import { CalculatorConfig } from '../*****/*****';
import { submitForm } from '../../../../API/*****/*****';

const { backendParams } = CalculatorConfig;

@Component({
	components: { InputPhone, InputText, Checkbox },
})
export default class MultiCalculatorPtsForm extends Vue {
	@Prop({ type: Object, required: true }) payInMonth;

	@Prop({ type: Object, required: true }) loanInformation;

	backendData = backendParams;

	phoneParams = {
		value: '',
		placeholder: 'Мобильный телефон',
		errorMessage: {
			errorTextRequired: 'Это обязательное поле',
			errorTextLength: 'Укажите телефон правильно',
			errorPhoneFormat: 'Неправильный номер телефона',
		},
	};

	usernameParams = {
		value: '',
		placeholder: 'Фамилия Имя Отчество',
		errorMessage: {
			errorTextRequired: 'Это обязательное поле',
		},
	};

	checkboxParams = {
		value: false,
	};

	onInputPhone(phoneData) {
		this.phoneParams.value = phoneData.value;
		this.metrika('typingOnInputPhone');
	}

	onInputLastname(username) {
		this.usernameParams.value = username.value;
		this.metrika('typingOnInputName');
	}

	onChangeAgree(agree) {
		this.checkboxParams.value = agree.value;
		this.metrika('clickCheckbox');
	}

	validate() {
		return Object.keys(this.$refs)
			.map((ref) =>
				typeof this.$refs[ref].validate === 'function' ? !this.$refs[ref].validate() : false
			)
			.every((el) => el);
	}

	clearFormControls() {
		Object.keys(this.$refs).forEach((ref) => {
			if (this.$refs[ref].dataValue) {
				this.$refs[ref].dataValue = '';
			}
		});
	}

	async onSubmit() {
		this.metrika('submitForm');
		const { action } = this.backendData;
		const userData = {
			NAME: this.usernameParams.value,
			PHONE: this.phoneParams.value,
			AGREE: this.checkboxParams.value,
		};

		if (this.validate()) {
			const response = await submitForm(action, userData);
			this.metrika('successSubmitForm');
			console.log(response);
			this.clearFormControls();
		}
	}
}
</script>

<style scoped></style>
