<template>
  <form
    novalidate="novalidate"
    class="feedback-form"
    @submit.prevent="onSubmitForm"
  >

    <h3 class="feedback-form__title "> {{ title }} </h3>

    <div class="feedback-form__field">
      <FormInputText
        :id="themeInput.placeholder"
        ref="themeInput"
        v-model="themeInput.value"
        :required="themeInput.required"
        :placeholder="themeInput.placeholder"
        :error-message="themeInput.errorMessage"
      />
    </div>

    <div class="feedback-form__field">
      <FormInputPhone
        :id="phoneInput.placeholder"
        ref="phoneInput"
        v-model="phoneInput.value"
        :required="phoneInput.required"
        :input-type="phoneInput.inputType"
        :error-message="phoneInput.errorMessage"
        :mask="phoneInput.mask"
        :placeholder="phoneInput.placeholder"
      />
    </div>

    <div class="feedback-form__field">
      <FormInputEmail
        :id="emailInput.placeholder"
        ref="emailInput"
        v-model="emailInput.value"
        :required="emailInput.required"
        :input-type="emailInput.inputType"
        :error-message="emailInput.errorMessage"
        :mask="emailInput.mask"
        :placeholder="emailInput.placeholder"
      />
    </div>

    <div class="feedback-form__field">
      <FormTextarea
        v-model="userMessage.value"
        name="comment"
        :placeholder="userMessage.placeholder"
      />
    </div>

    <button class="feedback-form__btn btn">Отправить</button>
  </form>

</template>
<script>
import { Component, Prop, Vue } from 'vue-property-decorator';
import { mapActions } from 'vuex';
import FormInputText from '~vue/componentsSystem/Form/FormInputText/FormInputTextDefault';
import FormInputPhone from '~vue/componentsSystem/Form/FormInputText/FormInputTextPhone';
import FormTextarea from '~vue/componentsSystem/Form/FormTextarea/FormTextareaDefault';
import FormInputEmail from '~vue/componentsSystem/Form/FormInputText/FormInputTextEmail';

@Component({
	components: {
		FormInputText,
		FormInputPhone,
		FormTextarea,
		FormInputEmail,
	},
	methods: {
		...mapActions('feedback', ['onSubmitFeedbackForm']),
	},
})
export default class FeedbackForm extends Vue {
	@Prop({ type: String, default: '' }) title;

	themeInput = {
		required: true,
		placeholder: `тема обращения`,
		value: ``,
		errorMessage: `Это обязательное поле`,
	};

	phoneInput = {
		required: true,
		inputType: `phone`,
		placeholder: `телефон`,
		value: ``,
		mask: `phone`,
		errorMessage: `Это обязательное поле`,
	};

	emailInput = {
		required: true,
		inputType: `email`,
		placeholder: `E-mail`,
		value: ``,
		errorMessage: `Это обязательное поле`,
	};

	userMessage = {
		required: false,
		placeholder: `описание обращения`,
		value: ``,
		errorMessage: `Это обязательное поле`,
	};

	isValid() {
		return Object.keys(this.$refs)
			.map((ref) =>
				typeof this.$refs[ref].validate === 'function' ? this.$refs[ref].validate() : false
			)
			.every(Boolean);
	}

	clearData() {
		this.themeInput.value = '';
		this.userMessage.value = '';
	}

	async onSubmitForm() {
		if (this.isValid()) {
			const submitData = {
				theme: this.themeInput.value,
				phone: this.phoneInput.value,
				email: this.emailInput.value,
				message: this.userMessage.value,
				userName: 'User name',
			};
			const res = await this.onSubmitFeedbackForm(submitData);

			res && this.clearData();
		}
	}
}
</script>
