<template src="./templates/default.vue"></template>
<!-- на мой взгляд хороший подход, когда требуется отделить
 логику от интерфейса тем самым мы получаем хорошее переиспользование -->

<script>
import Component from 'vue-class-component';
import FormInputText from './src/FormInputText';
import validatorTextPhone from '../../validations/vuelidate/validatorTextPhone';

@Component({
	validations: validatorTextPhone,
})
export default class FormInputTextPhone extends FormInputText {}
</script>
