<template>
  <div class="calculator__sliders">
    <range-slider
      :max="currencyOptionsSlider.max"
      :min="currencyOptionsSlider.min"
      :step="currencyOptionsSlider.step"
      :type="currencyOptionsSlider.type"
      :start-min="currencyOptionsSlider.startMin"
      :title="currencyOptionsSlider.title"
    />

    <range-slider
      :max="dateOptionsSlider.max"
      :min="dateOptionsSlider.min"
      :step="dateOptionsSlider.step"
      :type="dateOptionsSlider.type"
      :start-min="dateOptionsSlider.startMin"
      :title="dateOptionsSlider.title"
    />
  </div>
</template>

<script>
import { Component, Prop } from 'vue-property-decorator';
import RangeSlider from '../../components/RangeSlider/RangeSlider.vue';

@Component({
	components: { RangeSlider },
})
export default class RangeSlidersBlock extends Component {
	@Prop({ type: Object, required: true }) currencyOptionsSlider;

	@Prop({ type: Object, required: true }) dateOptionsSlider;
}
</script>

<style scoped></style>
